<html>
<head>
  <script type="text/javascript" src="<%= @config["faye_remote_url_js"] %>"></script>
  <script type="text/javascript" src="/jquery.min.js"></script>
  <script type="text/javascript" src="/swfobject.js"></script>

  <script type="text/javascript">
    var client = new Faye.Client('<%= @config["faye_remote_url"] %>faye');
    var subscription = client.subscribe('/foo/<%= @token %>', function(message) {
      $(document).ready(function (){
        $("#speed").html(message.speed).closest("div").fadeIn();
        $("#tryagain").show();
        $("#status").hide();
      });
    });

    $(document).ready(function(){
      $("#download").click(function(){
        width  = 1
        height = 1 
        var s1 = new SWFObject('<%= @config["frontend_url"] %>player.swf', 'mpl', width, height, '9')
        s1.addParam('allowfullscreen', 'false')
        s1.addParam('allowscriptaccess', 'always')
        s1.addParam('allownetworking', 'all')
        s1.addVariable('file', "<%= @config["file_download_url"] %><%= @token %>")
        //s1.addVariable('plugins', 'viral-2')
        //s1.addVariable('viral.allowmenu','false')
        s1.write('flash-player')
        
        $(this).fadeOut(function(){
          $("#status").fadeIn();
        });
        return false;
      });
    });
  </script>
  <title>Проверка скорости доступа до дата-центра PROHOST</title>
  <style>
    body {
      background-image:url("/pattern_157.gif");
      font-family: Georgia;
    }
    
  </style>
</head>
<body>
  
  <center>
  <div style="width:800px; margin:auto 0; background-color:white; padding-top:20px; padding-bottom:20px;">

    <div style="margin-bottom:30px;">
      <h2>Проверка скорости доступа до дата-центра <a href="http://prohost.kg/">PROHOST</a></h2>
      <small>В этом дата-центре размещены проекты <a href="http://namba.kg">namba.kg</a>, <a href="http://blive.kg">blive.kg</a> и т.д.</small>
      <h3>Ваш провайдер: <%= @provider %></h3>
    </div>

      <div id="flash-player">
      </div>

  <a id="download" href="#" target="_blank" style="color:red;">Начать проверку!</a>
  <div id="status" style="display:none;background-color:#FFDA2F;padding:4px;">Идет измерение скорости! Ничего не делайте!</div>
  <br>

  <div style="display:none;background-color:#8FE866;padding:5px;width:300px;">
    Ваша скорость: <span id="speed"></span>
  </div>
  <div style="display:none;margin-top:30px;" id="tryagain">
    <a href="<%= @config["frontend_url"] %>">Попробовать еще раз</a>
  </div>

  <div style="padding-top:20px;">
    <h3>Статистика</h3>
    <table cellspacing=5>
      <tr>
        <td>%username%</td>
        <td style="padding-left:20px; padding-right:20px;">Провайдер</td>
        <td>Скорость</td>
      </tr>
    <% @stats.each do |stat| %>
        <tr>
          <td>
            <% if stat.name != "anonim" %>
              <a href="http://mir.namba.kg/personal.php?user=<%= stat.name %>"><%= stat.name %></a> 
            <% else %>
              <%= stat.name %>
            <% end %>
          </td>
          <td><%= stat.provider %></td>
          <td>
            <% if !stat.speed.nil? && stat.speed > 1024 %>
              <%= stat.speed/1024%> мегабайт в секунду
            <% else %>
              <%= stat.speed %> килобайт в секунду
            <% end %>
          </td>
        </tr>
    <% end %>
    </table>
  </div>

  <div style="padding-top:30px;">
    <div>Разработка <a href="mailto:puzanov@gmail.com">Олега Пузанова</a></div>
    <div>
      <b>Это проект с открытым исходным кодом.</b><br> 
      <small>Если вы хотите помочь в развитии, разработать дополнительный функционал, пофиксить баги, то милости прошу 
      на <a href="https://github.com/puzanov/cheetah">Github</a></small>
    </div>
  </div>

  </div>
  </center>

</body>
</html>
